.home-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
img {
  margin-right: 20px;
}
.text-info {
  margin-left: 200px;
  margin-top: 50px;
}
.text-info > p {
  margin-right: 60px;
  font-weight: 500;
  margin-top: 10px;
  line-height: 25px;
}
.text-info > h1 > span {
  color: black;
  font-size: 45px;
}
.text-info > h1 {
  font-size: 45px;
  color: darkcyan;
  line-height: 25px;
}
.live-btn {
  padding: 10px 25px 10px 25px;
  color: blue;
  background-color: lightblue;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 15px;
}
.live-btn:hover {
  color: white;
  background-color: blueviolet;
}
.review-text {
  text-align: center;
  margin-top: 150px;
}
.all-review a{
  text-decoration: none;
  padding: 5px 30px 5px 30px;
  color: blue;
  background-color: lightblue;
  border: none;
  font-size: 20px;
  border-radius: 5px;

}
.all-review{
  text-align: center;
  margin: 60px 0px 70px 0px;
}
.all-review a:hover{
  color: white;
  background-color: blueviolet;
}

